body {
  margin: 0;
  font-family: vazir;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: vazir;
  src: url('./fonts/Vazir-Medium.woff2');
}